<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <chats>
        <chat>
            <time>100</time>
        </chat>
        <chat>
            <time>200</time>
        </chat>
        <chat>
            <time>300</time>
        </chat>
        <chat>
            <time>400</time>
        </chat>
    </chats>
    <analyzers>
        <analyzer>
            <time>100</time>
        </analyzer>
        <analyzer>
            <time>200</time>
        </analyzer>
        <analyzer>
            <time>300</time>
        </analyzer>
        <analyzer>
            <time>400</time>
        </analyzer>
    </analyzers>
    <generators>
        <generator>
            <time>100</time>
        </generator>
        <generator>
            <time>200</time>
        </generator>
        <generator>
            <time>300</time>
        </generator>
        <generator>
            <time>400</time>
        </generator>
    </generators>
    <formatters>
        <formatter>
            <time>100</time>
        </formatter>
        <formatter>
            <time>200</time>
        </formatter>
        <formatter>
            <time>300</time>
        </formatter>
        <formatter>
            <time>400</time>
        </formatter>
    </formatters>
</configuration>